/*
GreatApps4YOU ® Copyright © 2016.
All rights reserved.
http://www.greatapps4you.com.br
*/
/* 
    Created on : Jan 15, 2017, 10:58:54 PM
    Author     : jose
*/

#mva{
    width: 100px;
}

.labelFake {
    font-weight: bold;
}

#segundaParte {
    display: none;
}

